<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pvo.activity"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.pvo.activity.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
   
   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.pvo.activity.permission.MAPS_RECEIVE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.pvo.gcm.notification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pvo.gcm.notification.permission.C2D_MESSAGE" />

    <!-- android:name="com.pvo.exception.handler.MainApp" -->
    <application
        android:name="com.pvo.exception.handler.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_sm"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--  -->

        <activity
            android:name="com.pvo.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.google.android.gms.gcm.GoogleCloudMessaging" />

        <!-- This is used for display project list from dashboard -->
        <activity
            android:name="com.pvo.activity.DashboardProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- new dashboard like my estate point -->
        <activity
            android:name="com.pvo.activity.DashboardNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- TP,DP,Village map activity -->
        <activity
            android:name="com.pvo.activity.TpDpVillageMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- Revenue record activity -->
        <activity
            android:name="com.pvo.activity.RevenueRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- Government circular activity -->
        <activity
            android:name="com.pvo.activity.GovtCircularsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- Jantri list Activity -->
        <activity
            android:name="com.pvo.activity.JantriActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- Loan calculator -->
        <activity
            android:name="com.pvo.activity.LoanCalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- Area Unit calculator -->
        <activity
            android:name="com.pvo.activity.AreaUnitCalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.pvo.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.SmsVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.PublicPropertyListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.PublicRequirementListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.NomineeListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.NomineeAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.NomineeEditActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.PreferreBrokerListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyPropertyListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.pvo.activity.FindPropertyByIdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.FindAgentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.FindAgentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyRequirementListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.FindAgentListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyPropertyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyPropertyAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyPropertyEditActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyRequirementAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyRequirementEditActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyRequirementDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyPropertyInqueryListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MyRequirementInqueryListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.EmailSmsSendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.SearchPropertyMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.pvo.activity.SearchRequirementMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.SearchRequirementListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.SearchPropertyListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.PreferreBrokerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pvo.activity.MainFragmentActivity"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="com.pvo.activity.NOTIFICATIONPRESSED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pvo.activity.FilterPropertyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pvo.activity.FilterProjectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pvo.activity.AdsListingActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.pvo.activity.AdsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pvo.activity.GroupListActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="z.com.pvo.newActivity.ZShareWithMainActivity">
            
        </activity>
        <activity 
            android:name="z.com.pvo.newActivity.ZMyPropertyListActivity">
        </activity>
        
       <activity 
            android:name="z.com.pvo.newActivity.ZNearByLocation">
        </activity>
        

        <!-- GCM Recervier -->
        <receiver
            android:name="com.pvo.gcm.notification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.pvo.gcm.notification" />
            </intent-filter>
        </receiver>

        <!-- GCM Notification Service -->
        <service android:name="com.pvo.gcm.notification.GcmIntentService" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD4ciJ2zFXfp5XPhmMVusaz4DMVxLKCqWs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="com.pvo.json.cache.UpdateJsonReceiver" />

        <service android:name="com.pvo.json.cache.UpdateJsonService" />
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>